body {
background-image: url("myBackground.png"); }

#aboutmewater {
float: left; 
margin-right: 2%;
}

#aboutmeprom {
float: left;
}

#aboutmesoccer {
float: left;
margin-left: 2%;
}
