body {
background-image: url("myBackground.png"); }

#aboutmewater {
float: left; 
margin-right: 2%;
}

#aboutmeprom {
float: none;
margin-left: 2%;
margin-right: 2%;
}

#aboutmesoccer {
float: right;
margin-left: 2%;
  margin-right: 5px;
}
